.profileContents {
  display: flex;
  align-items: center;
}

.profileContents > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContents div {
  margin-left: 1.5rem;
}

.profileContents div strong{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContents div p{
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContents div p img {
  margin-right: 0.5rem;
}